div {
/*
	border-style: ridge;
	border-width: 1px;
*/
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

#photos {
	margin-right: auto;
	margin-left: auto;
	position: static;
	display: block;
	width: 600px;
}

#photos img {
  display: block;
  right: auto;
  left: auto;
/*   border: solid 1px black; */
  padding: 5px 5px 2px 5px;
  margin: 1em auto 15% auto;
/*   -webkit-box-shadow: 4px 4px 10px gray; */
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.8, transparent), to(rgba(255,255,255, 0.5)));	
}

#background {
	background-color: white;
	top: 0px;
	left: 0px;
	position: fixed;
	width: 100%;
	height: 100%;
/* 	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#f90071), color-stop(.5,#004ad8)); */
	
	z-index: -1;
}

#container {
	padding-top: 5px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

#header {
	text-shadow: 2px 2px 2px #7f7f7f;
	margin-top: 0.5em;
	margin-left: 3%;
	margin-right: 3%;
	font-size: 2.5em;
	text-align: center;
}

#content {
	color: #800040;
	font-size: 1.5em;
	text-align: center;
	display: inline;
	padding-top: 1em;
	margin-right: 3%;
	margin-left: 3%;
}

#footer {
	color: #f90071;
	margin-bottom: 0.5em;  
	margin-right: 0.5em;  
	margin-top: 5em;  
	font-size: 0.8em;
	text-align: center;
}

#tags {
	right: 0px;
	top: 0px;
	border-right-width: 0px;
	border-left-width: 2px;
	border-bottom-width: 2px;
	border-top-width: 2px;
	border-style: solid;
	border-color: #ed005c;
	margin: 0px;
	padding-left: 0.5em;
	padding-right: 0.5em;
	color: white;
	background-color: #0031d3;
	z-index: 10;
	position: fixed;
}

#loading {
	top: 0.5em;
	right: 2em;
	display: none;
	position: fixed;
}

#intro {
	margin-top: 1em;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#search {
	padding-right: 1em;
	padding-left: 1em;
	padding-bottom: 0.4em;
	padding-top: 0.4em;
	width: 300px;
	background-color: rgb(255,255,204);
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#query {
	width: 20em;
}

#goto-top {	
	bottom: 0em;
	z-index: 10;
	font-size: 0.8em;
	right: 2em;
	display: block;
	position: fixed;
}

#goto-top a {
	color: gray;
}

#scroll {	
	display: none;
	bottom: 2em;
	z-index: 10;
	font-size: 0.8em;
	right: 2em;
	position: fixed;
	cursor:pointer;
}

#copy_root {
	position: fixed;
	top: 150px;
	right: 0px;
}

#copy {
	padding-left: 8px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-top: 5px;
	font-weight: bold;
	margin: 0px;
	right: 200px;
	border-left-width: 2px;
	border-bottom-width: 2px;
	border-right-width: 0px;
	border-top-width: 2px;
	color: white;
	background-color: #87b2ee;
	border-color: #004ad8;
	border-style: solid;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
}

.description {
	color: #4c4c4c;
	font-size: 0.4em;
	position: relative;
	top: -1em;
}

.flickr-blue {
	color: #004ad8;
}

.flickr-red {
	color: #f90071
}

.flickr-title {
    display: none;
	margin: 0px;
	padding: 0px;
	top: -3em;
	position: relative;
	font-size: 0.7em;
}

.flickr-description {
	margin: 0px;
	padding: 0px;
	top: -2em;
	position: relative;
	font-size: 0.7em;
}

.flickr-link {
	top: 20px;
	float: right;
	display: block;
	position: relative;
}

.flickr-link img {
  border: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
  -webkit-box-shadow: 0px 0px 0px !important;
}

.caution {
	margin-top: 0.5em;
	display: block;
	font-size: 0.6em;
}

.copydone {
	text-shadow: 1px 1px 2px #e6e6e6;
	margin-left: 115px;
	margin-bottom: 0px;
	margin-top: -200px;
	font-weight: bold;
	color: #333333;
	z-index: 0;
	position: absolute;
	display: block;
}

.tipped {
	color: #BBB;
}

.copyright {
	color: #b3b3b3;
}

#adsense {
    display: block;
    margin: 10px auto 0 auto;
    width: 728px;
}

.version {
	color: #4c4c4c;
	font-size: 0.5em;
}
